<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Health Sensei</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Modified Stock Footer -->
    <link href="/static/stylesheets/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Page specific CSS files -->
    {% block css_includes %}
    {% end %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

{% include header.html %}

{% block content %}

<!-- Begin page content -->
<div class="container">

</div>
    <!-- END content -->
 {% end %}

{% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

    {% block js_includes %}{% end %}

</body>
</html>
