{% extends index.html %}

{% block header %}
{% end %}

{% block content %}
<div id="content" class="clearfix">

<div id="edit" class="six columns">
    <form method="post" action="">
    <input type="hidden" name="id" value="{{ id }}">

    <label for="name">Name</label>
    <input type="text" name="name" value="{{ name }}"></input>

    <label for="link">Link</label>
    <input type="text" name="link" value="{{ link }}"></input>

    <label for="logo">Logo URL</label>
    <input type="text" name="logo" value="{{ logo }}" size="200"></input>

    <label for="phone">Phone</label>
    <input type="text" name="phone" value="{{ phone }}"></input>

    <label for="email">Email</label>
    <input type="text" name="email" value="{{ email }}"></input>

    <label for="slug">Slug</label>
    <input type="text" name="slug" value="{{ slug }}"></input>

    <textarea name="description" rows="35" >{{description}}</textarea>

    <button type="submit">SAVE</button>

    </form>

</div>

<div id="preview" class="ten columns">
    {% include resource.html %}
</div>

</div>

{% end %}


