{% extends base.html %}

{% block content %}

<div class="container">

    <form method="post" action="/login/" id="loginform" class="">

{% if error %}
<p id="errormsg">
    {{ error }}
</p>
{% end %}

        <label for="login">Login</label>
        <input name="login" type="text"></input>
        <label>Password</label>
        <input name="password" type="password"></input>

        <input type="hidden" value="{{ next }}" name="next"></input>
        <input type="submit" value="LOGIN" />
    </form>


    <form method="post" action="/signup/" id="signupform" class="">
        <label for="signup">Signup with an email address</label>
        <input name="email" type="email"></input>

        <input type="hidden" value="{{ next }}" name="next"></input>
        <input type="submit" value="SIGNUP" />
    </form>
        

    <img src="/static/logo.png"></img>



</div>

{% end %}
