{% extends index.html %}

{% block content %}

<div id="content">
{{ page }}


<div id="reviewidget"> 

<label for="author">Author</label>
<input id="author" name="author" type="text" value="" size="30" /></br>
<label for="email">Email</label>
<input id="email" name="email" type="text" value="" size="30" /></br>
<div class="rating-container">
        <input name="et_star" type="radio" class="star" value="1" />
        <input name="et_star" type="radio" class="star" value="2" />
        <input name="et_star" type="radio" class="star" value="3" />
        <input name="et_star" type="radio" class="star" value="4" />
        <input name="et_star" type="radio" class="star" value="5" />       
</div>

<label for="comment">Tell us about your experience with this resource...</label></br>
<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>

<button id="reviewsubmit">SUBMIT</button>

</div>

</div>

{% end %}
