{% extends base.html %}

{% block js_includes %}
    <script src="{{ static_url('resources.js') }}"></script>
{% end %}


{% block content %}

<!-- Begin page content -->
<div class="container" ng-app="Resources">

{% if user['admin'] %}
<div ng-controller="Edit">

    <form action="" id="resourceform" class="form-horizontal" name="resourceform" ng-submit="save(resource)" role="form">

<div class="col-sm-6">

    <input type="hidden" ng-model="resource.id">

    <div class="form-group">
        <label class="control-label col-sm-2">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="An Awesome Cancer Resource" 
                ng-model="resource.name" ng-required="true" ng-maxlength="100"
            >
        </div>

        <label class="control-label col-sm-2">Slug</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="an-awesome-cancer-resource" 
                ng-model="resource.slug" ng-required="true" ng-maxlength="100"
            >
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="control-label col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="text" id="email" class="form-control" type="email" placeholder="someone@nowhere.com" ng-model="resource.email">
        </div>

        <label for="phone" class="control-label col-sm-2">Phone</label>
        <div class="col-sm-10">
            <input type="text" id="phone" class="form-control" type="tel" placeholder="734-555-1212" ng-model="resource.phone">
        </div>

        <label for="link" class="control-label col-sm-2">Link</label>
        <div class="col-sm-10">
            <input type="text" id="link" class="form-control" placeholder="somecoolplace.com" ng-model="resource.link">
        </div>
    </div>

    <div class="form-group">
        <label for="file" class="control-label col-sm-2">Logo</label>
        <div class="col-sm-10">
            <input type="file" id="file" name="file" class="form-control"/>
            <button class="btn" ng-click="add()">Add</button>
            <button type="button" id="public" class="btn" 
                ng-model="resource.logo" ng-click="resource.logo = resource.logo ? false : true "
                ng-class="{'btn-warning': resource.logo, 'btn-info': !resource.logo}"
            >[[ resource.logo ? 'Uploaded' : 'Empty']]</button>
        </div>
    </div>

    <div class="form-group">
        <label for="public" class="control-label col-sm-3">This post is:</label>
        <div class="col-sm-9">
            <button type="button" id="public" class="btn" 
                ng-model="resource.public" ng-click="resource.public = resource.public ? false : true "
                ng-class="{'btn-warning': resource.public, 'btn-info': !resource.public}"
            >
                [[ resource.public ? 'Public' : 'Private' ]]
            </button>
        </div>
    </div>

</div>
<div class="col-sm-6">

    <div class="form-group">
        <label class="control-label col-sm-1">Description</label>
        <div class="col-sm-12">
            <textarea class="form-control" id="content" rows="16" ng-model="resource.description" ng-required="true"></textarea>
        </div>
    </div>

</div>

    <div class="form-group">
    <button type="submit" id="save" class="btn btn-info" ng-disabled="resourceform.$invalid" >Save</button>
    </div>

    </form>
</div>
{% end %}


<!-- END content -->
</div>
{% end %}
