{% if user['admin'] %}
<div >

    <form action="" id="resourceform" class="form-horizontal" name="resourceform" ng-submit="save(resource)" role="form" ng-controller="Edit">

<div class="col-sm-6">

    <input type="hidden" ng-model="resource.id">

    <div class="form-group">

        <label class="control-label col-sm-2">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="An Awesome Cancer Resource" 
                ng-model="resource.name" ng-required="true" ng-maxlength="100"
            >
        </div>

        <label class="control-label col-sm-2">Slug</label>
        <div class="col-sm-10">
            <input type="text" id="slug" class="form-control" placeholder="an-awesome-cancer-resource" 
                ng-model="resource.slug" ng-required="true" ng-maxlength="100" ng-focus="mkslug()"
            >
        </div>

    </div>

    <div class="form-group">
        <label for="email" class="control-label col-sm-2">Email</label>
        <div class="col-sm-10">
            <input type="text" id="email" class="form-control" type="email" placeholder="someone@nowhere.com" ng-model="resource.email">
        </div>

        <label for="phone" class="control-label col-sm-2">Phone</label>
        <div class="col-sm-10">
            <input type="text" id="phone" class="form-control" type="tel" placeholder="734-555-1212" ng-model="resource.phone">
        </div>

        <label for="link" class="control-label col-sm-2">Link</label>
        <div class="col-sm-10">
            <input type="text" id="link" class="form-control" placeholder="somecoolplace.com" ng-model="resource.link">
        </div>
    </div>

    <div class="form-group">
        <label for="file" class="control-label col-sm-2">Logo</label>
        <div class="col-sm-10">
            <input type="file" id="file" name="file" class="form-control"
                onchange="$(this).scope().$digest()"
            />
            <button type="button" class="btn pull-right" 
                ng-model="resource.logo" ng-click="add()"
                ng-class="{'btn-warning': resource.logo, 'btn-info': !resource.logo}"
                ng-disabled="filepicker.files.length<1"
            >[[ resource.logo ? 'CHANGE' : 'LOAD']]</button>
        </div>
    </div>

    <div class="form-group">
        <label for="public" class="control-label col-sm-3">This post is:</label>
        <div class="col-sm-9">
            <button type="button" id="public" class="btn" 
                ng-model="resource.public" ng-click="resource.public = resource.public ? false : true "
                ng-class="{'btn-warning': resource.public, 'btn-info': !resource.public}"
            >
                [[ resource.public ? 'Public' : 'Private' ]]
            </button>
        </div>
    </div>

</div>
<div class="col-sm-6">

    <div class="form-group">
        <label class="control-label col-sm-1">Description</label>
        <div class="col-sm-12">
            <textarea class="form-control" id="content" rows="16" ng-model="resource.description" ng-required="true"></textarea>
        </div>
    </div>

</div>

    <div class="form-group">
        <button type="submit" id="save" class="btn btn-info form-control" ng-disabled="resourceform.$invalid" >
            [[ (resource.id ? 'UPDATE' : 'CREATE') + ' ' + resource.name ]]
        </button>
    </div>

    </form>
</div>
{% end %}

